@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}