@{
    ViewData["Title"] = "Home Page";
}
@model MyViewModel
 <div class="container">
        <div class="d-flex mb-3 justify-content-around w-50 mx-auto">
            <a class="display-5" href="/">Products</a>
            <span class="display-5 border border-black mt-3"></span>
            <a class="display-5" href="/categories">Categories</a>
        </div>
        <div class="row m-5">
            <div class="col border-start border-black ps-5">
               @await Html.PartialAsync("AddAssocProd", Model)
            </div>
            <div class="col">
                <form asp-action="AddCategory" method="post" asp-route-ProductId="@Model.Product.ProductId">
                    <div class="form-floating mb-3 border shadow-sm">
                        <select name="CategoryId" class="form-control" >
                            @foreach (Category c in Model.AllCategories)
                                {
                                    <option value="@c.CategoryId">@c.Name</option>
                                }
                            </select>
                            <label for="Category">Category</label>
                    </div>
                    <button class="btn btn-outline-dark">Add</button>
                </form>
            </div>
        </div>
    </div>
