@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-auto w-3/4 text-center shadow-2xl">
    <div class=" grid justify-center text-center">
        <p class="text-3xl">Name: @Context.Session.GetString("Name")</p>
        <div class="text-5xl animate-spin">@Context.Session.GetInt32("Num")</div>
    </div>
    <br>
    <br>
    <div class="text-center grid gap-2 shadow-2xl">
        <form asp-action="ProcessMath" method="post">
            <input type="hidden" name="button" value="add">
            <button class="border border-black rounded-md p-0.5 bg-green-300 w-1/2 animate-bounce" type="submit">+1</button>
        </form>
            <form asp-action="ProcessMath" method="post">
                <input type="hidden" name="button" value="subtract">
                <button class="border border-black rounded-md p-0.5 bg-red-400 w-1/2 animate-bounce" type="submit">-1</button>
            </form>
            <form asp-action="ProcessMath" method="post">
                <input type="hidden" name="button" value="multiply">
                <button class="border border-black rounded-md p-0.5 bg-yellow-400 w-1/2 animate-bounce" type="submit">*2</button>
            </form>
            <form asp-action="ProcessMath" method="post">
                <input type="hidden" name="button" value="random">
                <button class="border border-black rounded-md p-0.5 bg-indigo-400 w-1/2 shadow-2xl animate-bounce" type="submit">+Rando</button>
            </form>
        
        <form asp-action="LogOut" method="post">
            <button class="border border-black rounded-md p-0.5 w-1/2 bg-pink-700 rotate-180 animate-bounce"   type="submit">LogOut</button>
        </form>
    </div>
</div>