@{
    ViewData["Title"] = "Home Page";
}
<div class="indexPage">
    <form asp-action="Process" method="post">
        <label for="Name">Name:</label>
        <input name="Name" for="Name" type="text" placeholder="Your Name" class="border rounded-md m-8">
        <button class="border border-black rounded-md p-0.5">Submit</button>
    </form>
</div>