@{
    ViewData["Title"] = "Home Page";
}
@model Survey
<form action="process" method="post">
    <div class="container-xl grid gap-4 justify-center">

        <label for="Name">Name:</label>
        <input asp-for="Name" type="text" placeholder="Your Name" class="border rounded-md">
        <span asp-validation-for="Name"></span>


        <label for="Location">Location:</label>
        <select asp-for="Location" placeholder="Location" class="border rounded-md">
            <option selected value=""></option>
            <option value="Mars">Mars</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Backyard">Backyard</option>
        </select>
        <span asp-validation-for="Location"></span>
        <label for="Language">Favorite Language:</label>
        <select asp-for="Language" placeholder="Favorite Language" class="border rounded-md">
            <option selected value=""></option>
            <option value="C#">C#</option>
            <option value="javascript">javascript</option>
            <option value="Python">Python</option>
        </select>
        <span asp-validation-for="Language"></span>
        <label for="Comment">Comments</label>
        <textarea asp-for="Comment" cols="20" rows="5" placeholder="Comments" class="border rounded-md"></textarea>
        <span asp-validation-for="Comment"></span>

        <button class="border border-black rounded-md p-0.5">Submit</button>

    </div>
</form>